body {
    background-color: #f0f0f0;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    color: blue;
    font-size: 24px;
}
#logo {
    width: 150px;  
    height: 150px;
    object-fit: cover; 
}
head img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
table img {
    width: 200px;
    height: 200px;
    object-fit: fill;
}

#case {
    width: 500px;
    height: 500px;
    object-fit: fill;
    z-index: 1;
}


.center {
    display: block;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#start-button {
    height: 60px;
    width: 100px;
}

p {
    color: gray;
}
table {
    border-collapse: collapse;
    width: 100%;
}


th:nth-child(1),
th:nth-child(2),
th:nth-child(3) {
    background-color: #506cfc;
    color: #000000;
}

th:nth-child(4),
th:nth-child(5),
th:nth-child(6) {
    background-color: #9044fc;
    color: #000000;
}

th:nth-child(7),
th:nth-child(8) {
    background-color: #d82ce4;
    color: #000000;
}

th:nth-child(9) {
    background-color: #f04c4c;
    color: #000000;
}

th:nth-child(10) {
    background-color: #ffd404;
    color: #000000;
}




#animation-container {
    position: relative;
    width: 500px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
}



#hand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); /* Rotate to point downward */
    width: 400px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 2;

}
.animation {
    animation: reach-in-out 15s ease forwards;
    animation-iteration-count: 1;
}


@keyframes reach-in-out {
    0% {
        top: -200px;
        opacity: 1;
        rotate: 0deg;
    }
    25% {
        top: 100px; /* Move the hand into the bag */
        opacity: 1;
        rotate: 0deg;
    }
    35% {
        top: 100px; /* Hand disappears */
        opacity: 0;
        rotate: 0deg;
    }
    50% {
        top: 100px; /* Hand remains hidden for 12 seconds */
        opacity: 0;
        rotate: 0deg;
        max-width: 400px;
        max-height: auto;
        
    }
    75% {
        top: -300px; /* Hand reappears with item */
        opacity: 1;
        rotate: 270deg;
        max-width: 200px;
        max-height: 200px;

    }
    100% {
        top: -300px; /* Hand returns to start */
        opacity: 1; /* Hand disappears */
        rotate: 270deg;
        max-width: 300px;
        max-height: 300px;
    }
}

