body {
    background-color: #dedede;
    font-family: 'Trebuchet MS', sans-serif;
}
header {
    background-color: #fafafa;
    border: 2px solid #929292;
}

h1 {
    color: blue;
    font-size: 24px;
}
p1 {
    color: #747474;
}
#logo {
    width: 150px;  
    height: 150px;
    object-fit: cover; 
}
head img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
table img {
    width: 200px;
    height: 200px;
    object-fit: fill;
}

#case {
    width: 500px;
    height: 500px;
    object-fit: fill;
    z-index: 1;
}


.center {
    display: block;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#start-button {
    height: 60px;
    width: 150px;
    background-color: #14bc6c;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;

}
#start-button:hover {
    background-color: #0f8049;

}
#start-button.spinner {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 6px solid rgba(0,0,0,0.25);
}
.cooldown {
    background-color: #0f8049 !important;
    cursor: not-allowed;
}

p {
    color: gray;
    
}
h6 {
    font-size: xx-large;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
    background-color: #ffffff;
    font-weight: bold;
}
li {
    max-width: 100px;
    font-weight: bold;
    border: 1px solid #000000;
}
li:nth-child(1) {
    background-color: #506cfc;
    color: #000000;
}
li:nth-child(2) {
    background-color: #9044fc;
    color: #000000;
}
li:nth-child(3) {
    background-color: #d82ce4;
    color: #000000;
}
li:nth-child(4) {
    background-color: #f04c4c;
    color: #000000;
}
li:nth-child(5) {
    background-color: #ffd404;
    color: #000000;
}


th:nth-child(1),
th:nth-child(2),
th:nth-child(3) {
    background-color: #506cfc;
    color: #000000;
}

th:nth-child(4),
th:nth-child(5),
th:nth-child(6) {
    background-color: #9044fc;
    color: #000000;
}

th:nth-child(7),
th:nth-child(8) {
    background-color: #d82ce4;
    color: #000000;
}

th:nth-child(9) {
    background-color: #f04c4c;
    color: #000000;
}

th:nth-child(10) {
    background-color: #ffd404;
    color: #000000;
}




#animation-container {
    position: relative;
    width: 500px;
    height: 500px;
}



#hand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); /* Rotate */
    width: 400px; /*size*/
    height: auto; /*aspect ratio */
    z-index: 2;

}
.animation {
    animation: reach-in-out 15s ease forwards;
    animation-iteration-count: 1;
}


@keyframes reach-in-out {
    0% {
        top: -200px;
        opacity: 1;
        rotate: 0deg;
    }
    25% {
        top: 100px; /* Move hand in bag */
        opacity: 0;
        rotate: 0deg;
    }
    35% {
        top: 100px; /* Hand disappears */
        opacity: 0;
        rotate: 0deg;
    }
    50% {
        top: 100px; /* Hand hidden 12sec */
        opacity: 0;
        rotate: 0deg;
        max-width: 400px;
        max-height: auto;
        left: 250px;
        
    }
    75% {
        top: -300px; /* Hand appear with item */
        opacity: 1;
        rotate: 270deg;
        left: 1100px;
        max-width: 600px;
        max-height: 600px;

    }
    100% {
        top: -300px;
        opacity: 1;
        rotate: 270deg;
        left: 1100px;
        max-width: 600px; /* big hand*/
        max-height: 600px;
    }
}